/*font-family: 'Julius Sans One', sans-serif;
font-family: 'Raleway', sans-serif;*/

/*BODY*/
body {
	background: rgba(255, 255, 255, .3) url("../img/bgpattern.png") repeat;
}

body li {
	list-style: none;
}

h1, 
h2, 
h3, 
h4 {
	font-family: 'Julius Sans One', sans-serif;
}

p, 
li {
	font-family: 'Raleway', sans-serif;
}

img {
	margin: none;
	padding: none;
	border: none;
}

.sushi{
	width: 200px;
}

.bold{
	font-family: 'Raleway', sans-serif;
	font-weight: 600;
}

.textbg {
	background: rgb(255, 255, 255);
}


.yellow, 
.blue, 
.green, 
.red {
	margin-top: 3px;
	width: 40px;
	height: 15px;
	float: right;
}

.yellow{
	background: #FFCC00;
}

.blue{
	background: #47DAFF;
}

.green{
	background: #00CC00;
}

.red {
	background: #E60000;
}

/*mobile*/
@media (max-width: 480px){

}

/*tablet*/
@media (min-width: 768px){

}

/*desktop*/
@media (min-width: 992px){

}

/**/